.tabela-pagamentos-content {
  /* height: 300px; */
  border-radius: 8px;
  background-color: #fff;
  padding: 15px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
  display: none;
  opacity: 0;
  visibility: hidden;
}

.active {
  opacity: 1;
  visibility: visible;
  display: flex;
}

.pagamentos-table {
  width: 100%;
  border-collapse: collapse;
}

.pagamentos-table th,
.pagamentos-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.pagamentos-table th {
  background-color: orange;
  color: #fff;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.pagamentos-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.pagamentos-table tr:hover {
  background-color: #f1f1f1;
}
