.tabela-vendas-content {
  width: 450px;
  border-radius: 8px;
  background-color: #fff;
  padding: 15px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
  display: none;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
}

.active {
  opacity: 1;
  visibility: visible;
  display: flex;
}

.btn-filter-vendas {
  border: none;
  padding: 7px;
  background-color: yellowgreen;
  border-radius: 15px;
  text-wrap: nowrap;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #fff;
  transition: transform 0.2s ease;
}

.btn-filter-vendas:hover {
  cursor: pointer;
  transform: translateX(0) scale(1.1);
}

.tabela-vendas {
  width: 100%;
  border-collapse: collapse;
  user-select: auto;
}

.tabela-vendas th,
.tabela-vendas td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.tabela-vendas th {
  background-color: green;
  color: #fff;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.tabela-vendas tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tabela-vendas tr:hover {
  cursor: pointer;
}

.vendas-table-holder {
  width: 100%;
  min-height: 250px;
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;

  scrollbar-width: thin;
  scrollbar-color: black orange;
  scroll-behavior: smooth;
}

.vendas-top-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vendas-data-input-holder {
  display: flex;
  align-items: center;
  gap: 5px;
}

#filtros-form {
  margin-bottom: 10px;
}

.vendas-first-td {
  width: 10px;
}

.no-result-td {
  display: table-cell;
}

.bad-face-result-img {
  margin-top: 10px;
  width: 50px;
  height: 50px;
}

/* ############### DETALHES VENDAS MODAL ############### */

.btn-close-sales-details {
  cursor: pointer;
}

.detalhes-vendas-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.detalhes-vendas-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 10px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
}

.detalhes-top-content {
  display: flex;
  justify-content: right;
}

.tabela-sales-holder {
  max-height: 240px;
  overflow-y: auto;
}

.tabela-sales-details {
  width: 100%;
  border-collapse: collapse;
  user-select: hidden;
}

.tabela-sales-details th,
.tabela-sales-details td {
  border: 1px solid rgba(0, 0, 0, 0.24);
  padding: 8px;
  text-align: center;
}

.tabela-sales-details th {
  background-color: orange;
  color: #fff;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.meia-row {
  background-color: rgb(255, 182, 46);
}

.tabela-vendas-bottom-content {
  display: flex;
  justify-content: flex-end;
}

.btn-vendas-itens {
  padding: 10px;
  border: none;
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  transition: transform 0.2s ease;
  background-color: orange;
  font-weight: 500;
  cursor: pointer;
}

.btn-vendas-itens:hover {
  transform: translateX(0) scale(1.1);
}

.counters-box {
  width: 100%;
  padding: 10px;
  border: 1px solid orange;
  border-radius: 4px;
  text-align: center;
  background-color: #fff;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.103);
}

.modal-vendas-itens-holder {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-vendas-itens-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 10px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-close-sales-itens {
  cursor: pointer;
}

.modal-vendas-itens-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.modal-vendas-itens-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 3px solid orange;
  background-color: #cccccc23;
  border-radius: 8px;
  padding: 5px;
}

.modal-vendas-itens-line {
  width: 100%;
  border: 1px dashed rgba(0, 0, 0, 0.226);
}

.tabela-vendas-info {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  /* border: 1px solid red; */
}

.modal-vendas-top-title {
  font-size: 27px;
  color: orange;
  font-weight: 600;
}

.noSelectedData {
  font-weight: 400;
  font-size: 16px;
}

.noSeletectedDataError {
  font-weight: 700;
  font-size: 17px;
  color: red;
  margin-right: 5px;
}
